.display-history{
    padding: 4px;
    height: min-content;
    min-height: 40px;
    text-align: right;
    justify-content: top;
    overflow-wrap: break-word; 

    border-radius: 2px;
    color: green;
    border: 1px solid green;
    background-color: rgb(20, 20, 20);

}

p {
    font-family: "Pocket Calculator";
}
@media(max-width: 500px){
    .display-history{
        min-height: 20px;
    }
}